<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>
        <ul>
         <li><a href="/">kembali kehalaman home</a></li>
        </ul>
    </h2>
    <h3>Saya adalah mahasiswa semester 4 di Universitas Muhammadiyah Kalimantan Timur, jurusan Teknik Informatika. Saya memiliki ketertarikan dalam pengembangan perangkat lunak, pemrograman, serta teknologi berbasis web dan mobile. Saya selalu bersemangat untuk belajar hal baru dan mengembangkan keterampilan dalam dunia teknologi.</h3>
</body>
</html>